**Week 4.  Assignment 1.**

Download the red wine dataset and load it through google colab.

i. display the first ten rows.

ii. randomly display the first five rows.

iii. display the column names.

iv. use the 'info' and 'describe' method to get more information such as datatypes, number of rows and columns in the data, mean, standard deviation.

v. check for missing values.

vi. If there is missing values then fill with zeros or fill with the mean.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read upload.csv of Red wine dataset


df = pd.read_csv('/content/winequality-red.csv')

In [3]:
# Display the first Ten rows in the Red wine dataset

df.head (10)

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5
5            7.4              0.66         0.00  ...       0.56      9.4        5
6            7.9              0.60         0.06  ...       0.46      9.4        5
7            7.3              0.65         0.00  ...       0.47     10.0        7
8            7.8              0.58         0.02  ...       0.57      9.5        7
9            7.5              0.50         0.36  ...       0.80     10.5        5

[10 rows x 12 columns]

In [4]:
# Randomly display the first five rows.

df.sample(5)

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
954             7.6              0.43         0.40  ...       0.54     12.2        6
1025            8.6              0.83         0.00  ...       0.60     10.4        6
197            11.5              0.30         0.60  ...       0.97     10.1        6
1444            7.3              0.67         0.02  ...       0.68     11.1        6
1331            7.8              0.87         0.26  ...       0.46      9.2        5

[5 rows x 12 columns]

In [5]:
# Display the column names.

for col in df.columns:
    print(col)

    # or

    #list(df.columns)

fixed acidity
volatile acidity
citric acid
residual sugar
chlorides
free sulfur dioxide
total sulfur dioxide
density
pH
sulphates
alcohol
quality

In [6]:
# statistical summary of our dataset
# using the describe 

df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [7]:
# statistical summary of our dataset
# using the describe 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [12]:
# check for missing values.
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [18]:
# Fill missing values with zeros or fill with the mean.

df.fillna('0')
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

CLAS ASSIGNMENT 1.

What is Percentile? and Give an example?

In [22]:
#1. A percentile is a comparison score between a particular score and the scores of the rest of a group.


# Example of percentile

arr = [27, 11, 9, 3, 33]

print("30th percentile of arr : ",
       np.percentile(arr, 30))
print("15th percentile of arr : ",
       np.percentile(arr, 15))
print("45th percentile of arr : ",
       np.percentile(arr, 45))

30th percentile of arr :  9.399999999999999
15th percentile of arr :  6.6
45th percentile of arr :  10.6

In [35]:
#2. Read about pandas method called 'replace' and use it to fill missing values.

df = pd.DataFrame({"a": [0, 1, 2, 3, 4, 5, 6], "b": [7, 8, 9, 10, 11, 12, 13]})

df.replace({"a": 2, "b": 10}, 50)

    a   b
0   0   7
1   1   8
2  50   9
3   3  50
4   4  11
5   5  12
6   6  13